:root {
    --background-color: #373A43;
    --main-color: #262930;
    --font-color: white;
    --font-color-win: #469BBA;
    --font-color-lose: #E07F6E;
    --color-unfocus: rgb(173, 174, 179);
    font-family: Verdana;
}

body {
    background: var(--background-color);
    color: var(--font-color);
}

/*
Barre de navigation
 */
nav {
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    position: fixed;
    background: var(--main-color);
}

nav a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--color-unfocus);
    font-weight: 500;
}

nav a svg {
    height: 55px;
}

nav a svg path {
    fill: var(--color-unfocus);
}

nav a:first-of-type {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: solid 1px var(--font-color);
}

nav .link {
    padding: 20px 0px;
}

nav .link:hover {
    background: rgb(42, 64, 77);
    border-right: solid 5px var(--font-color-win);
}

nav .link:hover svg path {
    fill: var(--font-color);
}

nav .link:hover {
    color: var(--font-color);
}

@media screen and (max-height: 685px) {
    nav a:not(first-of-type) {
        padding-top: 20px;
    }
}


/*
Contenu de l'application
 */
main {
    height: 100%;
    margin-left: 200px;
}

.match {
    background: var(--main-color);
    border-radius: 10px;
    border: none;
    padding: 5px 20px 15px 20px;
    display: flex;
    overflow-x: auto;
    margin-bottom: 25px;
}

.match legend {
    font-size: 36px;
    font-weight: 500;
    background: var(--background-color);
    border-radius: 10px;
}

.match .victory {
    color: var(--font-color-win);
}

.match .defeat {
    color: var(--font-color-lose);
}

.match .resume {
    font-style: italic;
    font-size: 13px;
}

.match table {
    margin-top: 20px;
    font-size: 14px;
    width: 100%;
    font-weight: normal;
}

.match table, .match table th, .match table td {
    border: solid 1px var(--background-color);
    border-collapse: collapse;
}

.match table th {
    font-weight: normal;
    padding: 8px;
}

.match table td {
    padding: 8px;
}

.match .round {
    text-align: center;
    font-weight: 600;
}

.match .win {
    color: var(--font-color-win);
}

.match .lose {
    color: var(--font-color-lose);
}

.match .information {
    padding-right: 20px;
    width: 40%;
}

.match .commentary {
    border-left: 1px solid var(--background-color);
    font-style: italic;
    padding-left: 20px;
    width: 50%;
}

.card {
    padding: 20px;
}

.card-title {
    background: var(--main-color);
    text-align: center;
    border-radius: 10px;
    padding: 10px;

}

.card-body {
    padding: 20px 40px;
}

@media screen and (max-width: 1100px) {
    .match {
        flex-direction: column;
    }

    .match .commentary {
        border: none;
        padding-left: unset;
        padding-top: 30px;
        width: 100%;
    }

    .match .information {
        width: 90%;
    }
}