:root {
    --background-color: #373A43;
    --main-color: #262930;
    --font-color: white;
    --font-color-win: #469BBA;
    --font-color-lose: #E07F6E;
    --color-unfocus: rgb(173, 174, 179);
    font-family: Verdana;
}

body {
    background: var(--background-color);
    color: var(--font-color);
}

/*
Barre de navigation
 */
nav {
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    position: fixed;
    background: var(--main-color);
}

nav a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--color-unfocus);
    font-weight: 500;
}

nav a svg {
    height: 55px;
}

nav a svg path {
    fill: var(--color-unfocus);
}

nav a:first-of-type {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: solid 1px var(--font-color);
}

nav .link {
    padding: 20px 0;
}

nav .link:hover {
    background: rgb(42, 64, 77);
}

.active-link {
    background: rgb(42, 64, 77);
    border-right: solid 5px var(--font-color-win);
}

nav .active-link svg path {
    fill: var(--font-color);
}

nav .active-link {
    color: var(--font-color);
}

@media screen and (max-height: 685px) {
    nav a:not(first-of-type) {
        padding-top: 20px;
    }
}


/*
Contenu de l'application
 */
main {
    height: 100%;
    margin-left: 200px;
}

fieldset {
    background: var(--main-color);
    border-radius: 10px;
    border: none;
    padding: 5px 20px 15px 20px;
    display: flex;
    overflow-x: auto;
    margin-bottom: 25px;
}

fieldset legend {
    font-size: 36px;
    font-weight: 500;
    background: var(--background-color);
    border-radius: 10px;
    padding-right: 7px;
    padding-left: 7px;
}

fieldset .victory {
    color: var(--font-color-win);
}

fieldset .defeat {
    color: var(--font-color-lose);
}

fieldset .resume {
    font-style: italic;
    font-size: 13px;
}

fieldset table {
    margin-top: 20px;
    font-size: 14px;
    width: 100%;
    font-weight: normal;
}

.match table, .match table th, .match table td {
    border: solid 1px var(--background-color);
    border-collapse: collapse;
}

.match table th {
    font-weight: normal;
    padding: 8px;
}

.match table td {
    padding: 8px;
}

.match .round {
    text-align: center;
    font-weight: 600;
}

fieldset .win {
    color: var(--font-color-win);
}

fieldset .lose {
    color: var(--font-color-lose);
}

.match .information {
    padding-right: 20px;
    width: 70%;
}

.match .commentary {
    border-left: 1px solid var(--background-color);
    font-style: italic;
    padding-left: 20px;
    width: 20%;
}

.card {
    padding: 20px;
}

.stats {
    width: fit-content;
    max-width: 420px;
    padding: unset;
    margin: auto;

}


.stats .card-title {
    margin: unset;

}

.stats .card-body {
    padding: 20px 80px;
    border: solid 1px var(--main-color);
}

fieldset .notes {
    padding: 20px;
    font-style: italic;
}

.card-title {
    background: var(--main-color);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.card-body {
    padding: 20px 40px;
}

.container {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

caption {
    margin-bottom: 10px;
}

.notes-container {
    text-align: center;
}

.notes-container fieldset {
    text-align: left;
}

button, input[type=reset], input[type=submit] {
    background: var(--main-color);
    color: var(--font-color);
    border: 2px solid var(--font-color);
    border-radius: 5px;
    padding: 14px 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

button:hover, input[type=submit]:hover {
    color: var(--font-color-win);
    border-color: var(--font-color-win);
}

input[type=reset]:hover {
    color: var(--font-color-lose);
    border-color: var(--font-color-lose);
}

#form-container {
    background: var(--main-color);
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.active-form {
    padding: 10px 30px;
}

#form-container .form-group {
    margin: 20px auto;
    width: 100%;
}

#form-container textarea {
    width: 100%;
    min-height: 140px;
    margin-top: 5px;
    background: var(--main-color);
    border: 2px solid var(--font-color);
    border-radius: 5px;
    color: var(--font-color);
    resize: none;
    font-size: 16px;
}

#form-container .error-form {
    border-color: var(--font-color-lose) !important;
}

.form-group .error {
    float: left;
    font-style: italic;
    color: var(--font-color-lose);
    font-weight: 500;
}

.form-group .hidden {
    display: none;
}

#form-container textarea:focus {
    outline: none !important;
    border-color: var(--font-color-win) !important;
}

#form-container ::placeholder {
    color: var(--color-unfocus);
}

#form-container .actions {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
}

@media screen and (max-width: 1100px) {
    .match {
        flex-direction: column;
    }

    .match .commentary {
        border: none;
        padding-left: unset;
        padding-top: 30px;
        width: 100%;
    }

    .match .information {
        width: 90%;
    }
}

@media screen and (max-width: 630px) {
    .card-body {
        padding: 20px 0px;
    }
}