:root {
    --background-color: #646C79;
    --main-color: #1F3044;
    --font-color: white;
    --font-color-win: #39A4FB;
    --font-color-lose: #F86368;
    font-family: Verdana;
}

body {
    background: var(--background-color);
    color: var(--font-color);
}

/*
Barre de navigation
 */
nav {
    top: 0;
    left: 0;
    overflow-x: hidden;
    width: 200px;
    height: 100%;
    position: fixed;
    background: var(--main-color);
}

nav a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 500;
}

nav a img {
    height: 55px;
}

nav a:first-of-type {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: solid 1px var(--font-color);
}

nav a:not(first-of-type) {
    padding-top: 40px;
}

@media screen and (max-height: 685px) {
    nav a:not(first-of-type) {
        padding-top: 20px;
    }
}


/*
Contenu de l'application
 */
main {
    height: 100%;
    margin-left: 200px;
}

.match {
    background: var(--main-color);
    border-radius: 10px;
    border: none;
    padding: 5px 20px 15px 20px;
    display: flex;
    overflow-x: auto;
}

.match .victory {
    color: var(--font-color-win);
    font-size: 36px;
    font-weight: 500;
    background: var(--background-color);
    border-radius: 10px;
}

.match .resume {
    font-style: italic;
    font-size: 13px;
}

.match table {
    margin-top: 20px;
    font-size: 14px;
    max-width: 600px;
    font-weight: normal;
}

.match table, .match table th, .match table td {
    border: solid 1px var(--background-color);
    border-collapse: collapse;
}

.match table th {
    font-weight: normal;
    padding: 8px;
}

.match table td {
    padding: 8px;
}

.match .round {
    text-align: center;
    font-weight: 600;
}

.match .win {
    color: var(--font-color-win);
}

.match .lose {
    color: var(--font-color-lose);
}

.match .information {
    padding-right: 20px;
}

.match .commentary {
    border-left: 1px solid var(--background-color);
    font-style: italic;
    padding-left: 20px;
}

@media screen and (max-width: 800px) {
    .match {
        flex-direction: column;
    }

    .match .commentary {
        border: none;
        padding-left: unset;
        padding-top: 30px;
    }
}